# Lambda calculus

In [1]:
# Example 1
rdd = sc.parallelize(range(100))

In [3]:
rdd.map(lambda x : x+3).take(10)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [4]:
# Example 2
sc.parallelize(range(1,101)).reduce(lambda a,b: a+b)

# Note: collect() was called by jupyter!

5050

# SparkSQL

In [ ]:
# 1 - SparkSession & SparkContext
# 2 - SQLContext
# 3 - DataFrame

In [ ]:
# Count the numbers os entries using the DataFrame API
data.count()

In [ ]:
# Query the dataframe using SQL, first we have to register it has a virtual temporary table:
# Ex1:
claudantadata.createOrReplaceTempView("washingflat")

sqlDF = spark.sql("SELECT * FROM washingflat")
sqlDF.show()

In [ ]:
# Ex2:
sqlDF = spark.sql("SELECT min(temperature) as min_temp, max(temperature) as max_temp, avg(temperature) \
as avg_temp * FROM washingflat")
sqlDF.show()